
.layout{
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-padding-top: 20;
    -fx-padding-bottom: 20;
}

.button{
    -fx-background-color: #2a2b2c;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 10;
    -fx-border-radius: 5;
    -fx-border-width: 1;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 10;
    -fx-pref-height: 40px;
    -fx-pref-width: 175px;
}

.button:hover{
    -fx-background-color: #213d59;
}

.button-box{
    -fx-spacing: 30;
    -fx-alignment: center;
    -fx-padding: 20;
}
.card{
    color: #000000;
    -fx-background-color: #D9D9D9;
    -fx-alignment: center;
    -fx-font-size: 50px;
    -fx-border-color: #929EAC;
    -fx-background-radius: 15px;
    -fx-border-width: 2;
    -fx-padding: 10;
    -fx-max-height: 250px;
    -fx-pref-width: 180px;
}

.card:hover{
    -fx-max-height: 260px;
    -fx-pref-width: 190px;
}

.card-container{
    -fx-background-color: #929EAC;
    -fx-spacing: 30;
    -fx-alignment: center;
    -fx-padding: 20;
    -fx-pref-height: 300px;
}
.fields-container {
    -fx-spacing: 10;
    -fx-alignment: center;
}

.text-field{
     color: #000000;
    -fx-background-color: #BBC4D0;
    -fx-border-width: 1;
    -fx-font-size: 15px;
    -fx-padding: 10;
    -fx-pref-height: 15px;
}

.text-label {
    color: #000000;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

.top-row {
    -fx-spacing: 10;
    -fx-padding: 10px;
}

.top-row-button {
    -fx-alignment: center;
    -fx-background-color: #2a2b2c;
    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
    -fx-border-radius: 5px;
    -fx-pref-height: 15px;
    -fx-pref-width: 100px;
}